:root {
    --cor-fundo: rgb(34, 41, 37);
    --cor-hover: rgb(118, 180, 145);
    --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}
body {
  background: #fff;
  color: #555;
  font-family: Arial, sans-serif;
}

.corpo {
  width: 960px;
}

.conteudo {
  display: table;
}

.texto {
  display: table-cell;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 100px;
}
.footer {
  background-color: #363636;
  margin-top: 10px;
  padding: 50px;
  text-align: center;
  color: var(--cor-primaria);
  }
  h1
  {
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 40px;
    font-family: Calibri;
  }
.call
{
   display: table;
   float: center;
}
.tell 
{
  display: table-cell;
  float: right;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 100px;
}

#titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}
#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}
